
<footer class="footer">
	<div class="container">
	<div id="demoanchor">
			<div class="row">  
   <div class="col-md-12">
   <hr>
        <h3> <span class="oblique"> Demo Videos </span> </h3>
    </div>
  </div>		
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8" style="text-align:">
					 <video ng-src="automation/videos/testbatchvideo1.mp4"  class="img-responsive" controls preload="auto" style="border: 1px solid black">
        			</video>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div id="contactanchor">
					
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8" style="text-align: center;">
					<h3><span class="oblique">Contact Us</span></h3>
					Please mail us at support@ayavant.com for more details.
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</footer>